body {
    background-color: rgb(246, 254, 255);
    font-family: "Noto Sans TC", sans-serif;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(246, 254, 255)
}

.navegador {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.secciones {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.secciones p {
    margin-left: 20px;
}

.buscador {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.buscador button {
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(255, 131, 131);
}

.titulo {
    margin: 10px;
    color: white;
    padding: 10px;
}

.titulo h1 {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
}

.titulo p {
    font-size: 14px;
    width: 500px;
}

.fondo-foto {
    background: url("/img/FONDO.jpg") no-repeat;
    background-size: cover;
    height: 250px;
}

.card {
    width: 300px;
    font-size: 13px;
    padding: 15px;
    margin-right: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 165, 165);
    box-shadow: 5px 2px 2px gray;
}

.card h4 {
    margin-top: 0;
    color: rgb(163, 0, 0);
}

.card button {
    background-color: rgb(255, 97, 97);
    border-radius: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sizecard {
    width: 300px;
    font-size: 13px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 2px 2px rgb(224, 224, 224);
}

.sizecard img {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.contenedor-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.table {
    width: 600px;
    height: 200px;
    background-color: white;
    border: 2px solid rgb(255, 200, 200);
    border-spacing: 0;
    text-align: center;
}

.table th {
    width: 100px;
    height: 10px;
    border: 2px solid rgb(255, 200, 200);
    padding: 10px;
}

.table td {
    border: 2px solid rgb(255, 200, 200);
    padding: 10px;
}

.novedades {
    display: flex;
    flex-direction: row;
}

.card-novedad {
    width: 200px;
    background-color: rgb(255, 205, 205);
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}

.card-novedad button {
    background-color: rgb(255, 97, 97);
    border-radius: 5px;
}

.novedades h4 {
    margin-top: 0;
    color: rgb(163, 0, 0);
}

.productos p {
        font-size: 13px;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
}

.productos h5 {
    margin-left: 30px;
    margin-bottom: 0px;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.grilla-item {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: rgb(255, 165, 165) 2px solid;
    border-radius: 12px;
    box-shadow: 5px 2px 2px rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
}

.newsletter h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(163, 0, 0);
}

.newsletter {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 205, 205);
    border-radius: 20px;
    font-size: 13px;
}

.newsletter button {
    margin-top: 10px;
}

.etiquetas {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.etiquetas label {
    width: 100px; 
    text-align: left;
    margin-right: 1px;
}

.etiquetas input {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.contenedor-footer {
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    place-content: center stretch;
    align-items: center;
}

.creador {
    display: flex;
    flex-direction: column;
    text-align: center;
    h6 {
        margin-top: 5px;
    }
}

.redes img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}